<div class="w-full h-full container">
  <mat-toolbar class="w-full h-full" color="primary">
      <div class="flex flex-column md:flex-row flex-nowrap align-items-center justify-content-center w-full h-auto content">
          <div class="flex align-items-center justify-content-center md:justify-content-start h-3rem max-h-3rem w-full py-2 md:py-0  md:w-3 title" (click)="toggleMenu()">
              <img class="logo w-auto h-full" src="../assets/logo.png" alt="logo">
              <span>KUTYAKOMPASSZ</span>
          </div>
          <div class="hidden md:flex justify-content-end gap-3 w-9 buttons">
              <button routerLinkActive="active" mat-button routerLink="/home">Kezdőlap</button>
              <button routerLinkActive="active" mat-button routerLink="/found">Kutyát találtam!</button>
              <button routerLinkActive="active" mat-button routerLink="/search">Kutyát keresek!</button>
              <button *ngIf="user" mat-raised-button color="accent" (click)="logout()">Kijelentkezés</button>
          </div>
          <div *ngIf="isMenuOpen && isPhonePortrait" class="flex flex-column justify-content-center align-items-center gap-3 w-full py-2 buttons">
            <button routerLinkActive="active" mat-button routerLink="/home">Kezdőlap</button>
            <button routerLinkActive="active" mat-button routerLink="/found">Kutyát találtam!</button>
            <button routerLinkActive="active" mat-button routerLink="/search">Kutyát keresek!</button>
            <button *ngIf="user" mat-raised-button color="accent" (click)="logout()">Kijelentkezés</button>
          </div>
      </div>
  </mat-toolbar>
</div>
